.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  position: absolute;
  top: 0px;
  color: white;
  width: 100%;

  .header_ul {
    display: flex;
    align-items: center;
    margin-left: auto;

    .nav-item {
      margin: 0 20px;
    }
  }
}