@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --bg-white: #fff;
  --bg-black: #2c2c2c;
  --bg-light-pink: #ff007a;
  --bg-light-grey: #f6f9fe;
  --bg-gradient: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116) 100%);
  --bg-card-shadow: 0 0.188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
  --bg-card-shadow: 0 2rem 5rem rgb(0, 0, 0, 0.06);
  --bg-light-grey-1: #eee;
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #2c2c2c;
  --text-light-black: #444;
  --text-light-pink: #ff007a;
  --text-light-grey: #7e8085;
}
body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;
}
h1 {
  color: var(--text-white);
  font-size: 3.563rem;
  line-height: 4.563rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}
h2 {
  color: var(--text-white);
  font-size: 2.875rem;
  line-height: 2.75rem;
  font-weight: 400;
}
h3 {
  color: var(--text-black);
  font-size: 1.563rem;
  line-height: 2.375rem;
  font-weight: 400;
}
h5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.063rem;
  line-height: 1.688rem;
  color: var(--text-white);
  /* text-transform: uppercase; */
}
section,
.section {
  position: relative;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
p {
  margin-bottom: 0;
  color: gray;
}
a {
  color: var(--text-white);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover,
a:focus {
  color: var(--text-light-pink);
}
a,
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol li,
ul li {
  list-style: none;
}
button,
button:focus {
  outline: none;
  box-shadow: none;
}
img {
  height: auto;
  max-width: 100%;
}

.title h5 {
  text-align: center;
  color: #5645b1;
  font-size: 1rem;
}

.title h2 {
  text-align: center;
  color: #1c2e47;
  font-size: 2rem;
  font-weight: 700;
}
