@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .section2 {
    margin-top: -22% !important;

    .container {
      .sect_2 {
        .imagedescription {
          .description {
            padding: 50px 35px;
          }

          // .description h2 {
          //   font-size: 1.5rem !important;
          // }
        }

        .row-box {
          .box {
            width: 40%;
          }
        }
      }
    }
  }

}

@media (max-width: 768px) {

  .container {
    max-width: 720px !important;
  }

  .header {
    // .header_title {}

    .header_nav {
      flex-direction: column-reverse;
      justify-content: center !important;

      .header_ul {
        flex-direction: column;
        margin-right: 0 !important;
        // align-items: flex-end !important;

        // .nav-item {}
        background: #fff;
        border-radius: 10px;

        .nav-item {
          margin: 0 auto !important;

          .nav_anchor {
            color: black !important;
          }
        }


      }

      .b_icon {
        // margin-left: auto;
        text-align: end !important;
      }
    }
  }

  .section1 {
    .main_section {
      .heading span {
        font-size: 2.5rem;
      }
    }
  }

  .section2 {
    .sect_2 {
      .imagedescription {
        .h_image {
          display: none;
        }

        .description {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          // flex-direction: column;
          // flex-wrap: wrap;
          width: 100% !important;
          text-align: center !important;
        }
      }

      .row-box {
        .box {
          width: 100% !important;
        }
      }
    }
  }

  .section4 {
    .sect_4 {
      .sec_4_box {
        width: 35% !important;
      }
    }
  }

  .fdiv {
    .footer {
      padding: 50px 30px !important;

      .footer_content {
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 20px !important;

        .info {
          margin-top: 0 !important;
        }

        .social_icon {
          text-align: center;
        }
      }
    }
  }

}

@media (max-width: 576px) {
  .container {
    max-width: 95% !important;
  }

  .header {
    .header_title {
      margin-left: 2rem !important;
    }

    .header_nav {
      margin-right: 2rem !important;

      // .header_ul {
      //   background: #fff;
      //   border-radius: 10px;

      //   .nav-item {
      //     .nav_anchor {
      //       color: black !important;
      //     }
      //   }
      // }
    }
  }

  .section1 {
    .main_section {
      .heading {
        width: 100% !important;
        line-height: 2rem !important;
        text-align: left !important;
      }

      .heading span {
        font-size: 1.5rem;
      }
    }
  }

  .section2 {
    margin-top: -40% !important;

    .container {
      .sect_2 {
        .imagedescription {
          height: auto !important;

          .h_image {
            display: none;
          }

          .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100% !important;
            text-align: center !important;
            height: auto !important;
            padding: 1rem;
          }

          // .description h5 {
          //   font-size: 1rem !important;
          // }

          .description h2 {
            font-size: 1rem !important;
            line-height: 1.5 !important;
          }
        }
      }
    }
  }

  .section3 {
    margin-bottom: 30px !important;

    .sect_3 {
      flex-direction: column-reverse;

      .sec3_info {
        width: 100% !important;
        padding: 1rem;
      }

      .sec3_image {
        width: 100% !important;

        .s3_image {
          margin: 0 auto;
        }

        .s3_image::after {
          content: none !important;
        }
      }
    }
  }

  .section4 {
    .sect_4 {
      .sec_4_box {
        width: 100% !important;
        text-align: center;
      }
    }
  }

  .fdiv {
    .footer {
      padding: 50px 10px !important;
    }
  }

}